@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-4xync6');
  src:url('fonts/icomoon.eot?#iefix-4xync6') format('embedded-opentype'),
  url('fonts/icomoon.woff?-4xync6') format('woff'),
  url('fonts/icomoon.ttf?-4xync6') format('truetype'),
  url('fonts/icomoon.svg?-4xync6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profession:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e902";
}

.icon-blog:before {
  content: "\e904";
}

.icon-image:before {
  content: "\e90d";
}

.icon-about:before {
  content: "\e923";
}

.icon-tag:before {
  content: "\e935";
}

.icon-message:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-spinner:before {
  content: "\e982";
}

.icon-skill:before {
  content: "\e997";
}

.icon-job:before {
  content: "\e9ae";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-link:before {
  content: "\e9c9";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-half:before {
  content: "\e9d8";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-close:before {
  content: "\ea0f";
}

.icon-arrow-up:before {
  content: "\ea32";
}

.icon-arrow-left:before {
  content: "\ea40";
}

.icon-google-plus:before {
  content: "\ea89";
}

.icon-facebook:before {
  content: "\ea8d";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-github:before {
  content: "\eab1";
}

.icon-linkedin:before {
  content: "\eac8";
}
