@import 'normalize.styl'
@import 'fonts.styl'
@import 'colors.styl'
@import 'icons.styl'
@import 'menu.styl'
@import 'skill.styl'
@import 'project.styl'
@import 'forms.styl'

body
  background-color: color-white;
  color: color-black;
  font-family: 'source_sans_pro';
  font-size: 16px
  overflow-x: hidden;

a
  color: color-skyBlue;
  text-decoration: none;
  &:hover
    text-decoration: underline;

p
  margin: 0px 0px 10px 0px;

.AboutMe
  .AboutMe-description
    margin: 0px 0px 20px 0px;
  .AboutMe-features
    ul
      list-style: none;
      margin: 0px;
      padding: 0px;
      .AboutMe-features-tags
        color: color-skyBlue;
        p
          margin-bottom: 0px;
      li
        p
          span
            color: color-black;
            margin-right: 5px;

.ContactMe
  background-color: color-blue;
  color: color-white;
  font-size: 0px;
  .ContactMe-form
    background-color: color-white;
    border-radius: 5px;
    overflow: hidden;
    form
      margin: 20px;
    > form label
      color: color-black;
  .ContactMe-text
    .ContactMe-title
      text-align: left;
      margin-bottom: 10px;
  .ContactMe-form, .ContactMe-text
    font-size: 1rem;

.Footer
  background-color: color-black;
  color: color-white;
  font-family: 'source_sans_pro_bold';
  font-size: 0.875em;
  text-align: center;
  .icon-heart
      color: color-strongRed;
  p:first-child
    margin-bottom: 5px;
  p:last-child
    margin-bottom: 0px;
  .wrapper
    padding: 20px;

.Projects
  .Projects-content
    font-size: 0px;
    .Project
      font-size: 1rem;
      margin-bottom: 20px;
      &:last-child
        margin-bottom: 0px;

.Skills
  .Skills-subSection
    margin-bottom: 30px;
    font-size: 0px;
    .Skills-subSection-content
      .Skill
        font-size: 1rem;
        margin-bottom: 20px;
        &:last-child
          margin-bottom: 0px;
    &:last-child
      margin-bottom: 0px;

.ProfileCard
  background-color: color-blue;
  background-image: url(http://portafolio.localhost.local/img/cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: color-white;
  text-align: center;
  .ProfileCard-avatar
    border: 4px solid color-white;
    border-radius: 50%;

  .ProfileCard-contactButton
    display: block;
    font-size: 1.25em;
    padding: 10px 0px;

  .ProfileCard-description
    font-size: 1.125em;
    font-weight: normal;
    margin-bottom: 20px;

  .ProfileCard-menu
    display: block;
    text-align: right;
    margin: -5px 10px 20px 0px;
    font-size:1.375em;
    .ProfileCard-menu-menuButton
      display: inline-block
      padding: 5px
      border-radius: 5px;
      &:hover
        background-color: rgba(color-white, 0.25);

  .ProfileCard-name
    font-family: "source_sans_pro_bold";
    font-weight: normal;
    margin: 30px 0px 20px 0px;

  .wrapper
    padding-top: 20px !important;

.u-sectionTitle
  font-size: 1.875rem;
  font-weight: normal;
  margin: 0px 0px 30px 0px;
  text-align: center;

.u-subSectionTitle
  font-size: 1.25 rem;
  font-weight: normal;
  margin: 0px 0px 20px 0px;

.u-sectionBorderBottom
  border-bottom: 1px solid;
  border-color: color-gray;

.u-button
  background-color: color-red;
  border-bottom: 4px solid;
  border-color: color-strongRed;
  border-radius: 5px;
  color: color-white;
  &:hover
    background-color: rgba(color-red,0.9);

.wrapper
  padding: 40px 0px;
  margin: 0px 20px;

@media screen and (max-width:767px)
  .AboutMe
    .AboutMe-description
      text-align: center;
      margin: 0px 0px 20px 0px;
    .AboutMe-features
      text-align: left;

  .ContactMe
    .ContactMe-text
      margin-bottom: 20px;

  .ProfileCard
    .ProfileCard-contactButton
      margin: 0px 20%;


@media screen and (min-width:768px) and (max-width:1023px)
  .AboutMe
    .AboutMe-description
      margin-right: 3.2967%;

  .ProfileCard
    .ProfileCard-contactButton
      width: 48.3516%
      margin: 0 auto;
    .ProfileCard-description
      margin-left: 12.912%;
      margin-right: 12.912%;

  .Project, .Skill
    &:nth-child(2n+1)
      margin-right: 3.2967%;
    &:nth-last-child(2)
      margin-bottom: 0px;

  .AboutMe-description, .AboutMe-features, .ContactMe-form, .ContactMe-text, .Project, .Skill
    display: inline-block;
    vertical-align: top;
    width: 48.3516%;


@media screen and (min-width:1024px)
  .AboutMe
    .AboutMe-description
      margin-right: 8.5365%
      width: 48.78%
    .AboutMe-features
      width: 40.2439%;
    .AboutMe-description, .AboutMe-features
      display: inline-block;
      vertical-align: top;

  .ContactMe
    .ContactMe-form
      width: 48.78%;
    .ContactMe-text
      margin-right: 8.5365%
      width: 42.683%;
    .ContactMe-form, .ContactMe-text
      display: inline-block
      vertical-align: top;

  .ProfileCard
    .ProfileCard-contactButton
      width: 36.5854%
      margin: 0 auto;
    .ProfileCard-description
      margin-left: 17.073%;
      margin-right: 17.073%;

  .Project, .Skill
    display: inline-block;
    vertical-align: top;
    width: 31.7073%;
    &:nth-child(3n+2)
      margin-left: 2.439%;
      margin-right: 2.439%;
    &:nth-last-child(2), &:nth-last-child(3)
      margin-bottom: 0px;

  .wrapper
    width: 984px;
    margin: 0 auto;
