.Project
  border-bottom: 1px solid;
  border-color: color-gray;
  .Project-data
    padding: 20px 10px;
    .Project-data-job
      color: color-gray;
      margin-bottom: 0px;
      span
        color: color-black;
        margin-right: 5px;
    .Project-data-name
      display: inline-block;
      font-family: 'source_sans_pro_bold';
      font-size: 1.125rem;
      margin-bottom: 5px;

  .Project-picture
    display: block
    position: relative
    .Project-picture-date
      background-color: rgba(color-black, 0.750);
      bottom: 0;
      color: color-white;
      margin-bottom: 0px
      padding: 10px 20px;
      position: absolute;
      right: 0;
    .Project-picture-img
      display: block;
      width: 100%;
