.Skill
  overflow: hidden;
  display: block;
  .Skill-avatar
    border-radius: 50%;
    float: left;
  .Skill-data
    padding: 10px 0px;
    margin-left: 106px;
    .Skill-data-name
      font-size: 1.125rem;
      font-family: 'source_sans_pro_bold';
      margin-bottom: 5px;

    .Skill-data-domain
      color: color-gray;
      margin-bottom: 0px;
      .Skill-data-domain-stars
        color: color-yellow;
        font-family: 'icomoon';
